<!DOCTYPE html>
<html>
  <h1 id="BOB">some text</h1>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
  <button onclick="stopthetime()">Stop the clock</button>
  <button onclick="startthetime()">Start the clock</button>
  <script>
    var func = () => {
      var jso = getJson("http://127.0.0.1:5000/json");
      var date = new Date();
      readJsonFromUrl("http://127.0.0.1:5000/json/" + date.getDate());
      document.getElementById("BOB").innerText = jso.toString();
    };
    window.time = setInterval(func, 100);
    function stopthetime() {
      clearInterval(window.time);
    }
    function startthetime() {
      window.time = setInterval(func, 100);
    }
  </script>
  <form method="POST">
    <input name="text" />
    <input type="submit" />
  </form>
</html>
